body {
  font-size: 18px;
  background-image: url("assets/guitar.jpg");
  background-size: contain;
  background-position: 60px -500px;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  margin: 5px 0;
}

p {
  margin: 0 0 25px 0;
  padding: 5px 0;
}

#header {
  display: flex;
}

#header #header-img {
  margin-right: auto;
}

#header-img {
  width: 70px;
  height: 70px;
}

#nav-bar ul {
  list-style: none;

  display: flex;
  align-items: flex-end;
}

#nav-bar ul li {
  margin: 0 50px;
  padding: 5px;
}

#nav-bar ul li a {
  color: #111;
  text-decoration: none;
}

#form-container {
  display: block;
  margin: 150px auto;
  width: 50%;
  text-align: center;
}

#form-container h2 {
  letter-spacing: 1.8px;
  margin-bottom: 10px;
  color: #333;
}

#form #email {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-family: inherit;
}

#form #submit {
  background: #e1e1e1;
  border: 1px solid #ccc;
  padding: 5px 20px;
  font-family: inherit;
}

#list {
  width: 80%;
  margin: 80px auto;
}

#list h1 {
  font-size: 38px;
  padding-left: 10px;
  letter-spacing: 1.8px;
  margin: 0;
  text-decoration: underline;
}

#list ul {
  list-style: none;
  padding: 0;
}

#list ul li {
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px;
  border-radius: 3px;
  color: #222;
  background: #eee;
}

#price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}

main {
  width: 80%;
  margin: 80px auto;
}

main h1 {
  font-size: 38px;
  padding-left: 10px;
  letter-spacing: 1.8px;
  margin: 0;
  text-decoration: underline;
}

#price .card {
  width: 100%;
  margin: 10px;
  height: 250px;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 0 0 10px #ccc;
}

.card1 {
  background-image: url("assets/guitar1.jpg");
}

.card2 {
  background-image: url("assets/guitar2.jpg");
}

.card3 {
  background-image: url("assets/guitar3.jpg");
}

.card:hover {
  filter: blur(1px);
  cursor: pointer;
}

#video-container {
  padding: 10px;
  display: flex;
  width: 60%;
  margin: auto;
  border: 1px solid #eee;
  background: #f5f5f5;
}

#video-container p {
  margin: 0 10px;
  font-size: 14px;
}

#video {
  margin: 0 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #aaa;
}

#text {
  margin: 0 10px;
}

#footer {
  margin: 20px;
  text-align: center;
  font-size: 10px;
}

@media only screen and (max-width: 990px) {
  #video-container {
    display: block;
  }
  #video {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  #nav-bar ul {
    display: block;
    margin: 0;
  }

  #nav-bar ul li {
    padding: 10px 0;
    margin: 10px;
    border: 1px solid #eee;
    border-right: transparent;
    border-left: transparent;
  }
}
